- hosts: all
  become: yes
  tasks:
    - name: Install Java
      apt:
        name: openjdk-11-jdk
        state: present
        update_cache: yes

- hosts: master
  become: yes
  tasks:
    - name: Download Spark
      get_url:
        url: https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
        dest: /tmp/spark.tgz
    - name: Extract Spark
      unarchive:
        src: /tmp/spark.tgz
        dest: /opt/
        remote_src: yes
    - name: Start Spark Master
      command: /opt/spark-3.5.0-bin-hadoop3/sbin/start-master.sh

- hosts: workers
  become: yes
  tasks:
    - name: Copy Spark from Master (simple download)
      get_url:
        url: https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
        dest: /tmp/spark.tgz
    - name: Extract Spark
      unarchive:
        src: /tmp/spark.tgz
        dest: /opt/
        remote_src: yes
    - name: Start Spark Worker
      command: /opt/spark-3.5.0-bin-hadoop3/sbin/start-worker.sh spark://34.122.xx.xx:7077
